body {
  max-width: 1024px;
  min-width: 800px;
  margin: auto;
  background-color: #ccffff;
}

#contents {
  padding: 0;
  background-color: white;
}

#code {
  margin: 0;
}

ul,
ol,
blockquote,
table,
input {
  margin: 5px 15px;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
}

p {
  margin: 15px;
}

ul,
ol {
  padding-left: 20px;
}

hr {
  margin: 0;
}

h1 {
  margin: 0;
  padding-left: 8px;
  background-color: #ffbbff;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding-left: 12px;
  background-color: #ffffbb;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: #b0d4e5;
}

th,
td {
  padding: 0 0.5em;
  border: 1px solid black;
}

pre:has(.language-kuin) {
  margin: 15px;
  padding: 5px 10px;
  background-color: #fff5f5;
  border: 2px solid #ff8888;
}
